# Laravel & PHP (en subcarpeta)
Laravel/pizzaPaisaAP/vendor/
Laravel/pizzaPaisaAP/public
Laravel/pizzaPaisaAP/storage/
Laravel/pizzaPaisaAP/storage/*.key
Laravel/pizzaPaisaAP/.env

# Archivos sensibles globales
.env
.env.backup
.env.production
auth.json

# Node (Angular o Laravel Mix)
node_modules/
public/build/
public/hot/
npm-debug.log
yarn-error.log

# IDEs y herramientas de desarrollo
.idea/
.vscode/
.fleet/

# Homestead (si lo usas)
Homestead.yaml
Homestead.json